body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    color: #7dc9fc;
  }
  
  button {
    padding: 10px 20px;
    background-color: #142e3f;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  